@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force Dark Mode */
html, body {
  background-color: #313338 !important;
  color: #f2f3f5 !important;
  height: 100%;
  overflow: hidden;
}

/* Fix massive images seen in screenshots */
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #1e1f22;
  border-radius: 4px;
}
